.ap-status small {
  color: #707070;
}

.ap-dialog-loading {
  background: url(loading.gif) center center no-repeat;
}

.ap-loading, .ap-load-timeout {
  background: url(loading.gif) left center no-repeat;
  padding-left: 34px;
}

.ap-dialog-content {
  padding: 0 !important;
  overflow: hidden !important;
}

.ap-dialog-content .ap-stats {
  padding: 5px 10px;
  background: #f5f5f5;
  border-top: 1px solid #e9e9e9;
}

.ap-link-disabled, .ap-link-disabled:hover, .ap-link-disabled:visited, .ap-link-disabled:focus {
  color: gray !important;
  text-decoration: none;
}

.ap-container iframe {
  border: 0;
}
