<div class="rp-comment">
<ac:macro ac:name="app1-macro">
    <ac:parameter ac:name="footy">Soccer</ac:parameter>
    <ac:rich-text-body><p>outside note</p>
        <ac:macro ac:name="note">
            <ac:rich-text-body><p>some comment note</p></ac:rich-text-body>
        </ac:macro>
    </ac:rich-text-body>
</ac:macro>
</div>
